In [1]:
#Estrutura de Dados
#Lista
#Armazena elementos em um array

list1=[]

In [2]:
list2=['a','b','c']

In [3]:
print("First element in list2:"+ list2[0])
print("Second element in list2:"+ list2[1])
print("Last element in list2:"+ list2[2])

First element in list2:a
Second element in list2:b
Last element in list2:c

In [6]:
#Inserir um valor novo
list2.insert(1,'olá')
list2[1]

'olá'

In [7]:
#Inserir elemento no final da lista

list2.append('bye')
list2

['a', 'olá', 'olá', 'b', 'c', 'bye']

In [8]:
#Remover elemento da lista
list2.remove('olá')

In [9]:
list2

['a', 'olá', 'b', 'c', 'bye']

In [10]:
list2.sort()
list2

['a', 'b', 'bye', 'c', 'olá']

In [13]:
#Tamanho da lista
#Quantidade de elementos dentro da lista
print("size of list1 = " + str(len(list1)))
print("size of list2 = " + str(len(list2)))

size of list1 = 0
size of list2 = 5

In [14]:
#Para ter uma lista de listas
lists = []
lists.append([1,2,3])
lists.append(['a','b','c'])

lists

[[1, 2, 3], ['a', 'b', 'c']]

In [15]:
lists[1]

['a', 'b', 'c']

In [16]:
lists[1][0]

'a'

In [17]:
lists[1][1]

'b'

In [18]:
lists[1][2]

'c'

In [19]:
#Tupla

a = tuple()
a

()

In [21]:
b = (1,2,3)
b

(1, 2, 3)

In [22]:
#Para tuplas não existe atributo de append() como na lista

c = b + (4,5,6)
c

(1, 2, 3, 4, 5, 6)

In [24]:
#Endereço que o elemento se encontra na tupla
c.index(3)

2

In [25]:
#Converter lista em tupla

x = [1,2,3]
tuple(x)

(1, 2, 3)

In [26]:
#Set

newset = set()
newset

set()

In [27]:
ex = {1,2,3,4,5,6}
ex

{1, 2, 3, 4, 5, 6}

In [28]:
ex2 = {j for j in range(20)}
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [29]:
ex2.add(100)
ex2.add(50)

In [30]:
#Ele ordena em ordem crescente os elementos
ex2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 50, 100}

In [37]:
#Converter a set em uma tupla
set_of_ages = {1,2,3} 

set_of_ages = tuple(set_of_ages)
set_of_ages

(1, 2, 3)

In [38]:
#Converter a tupla em lista

set_of_ages = list(set_of_ages)
set_of_ages

[1, 2, 3]

In [39]:
#Dicionário

dict = {}